{% extends 'base.html' %}
{% block link %}
<link href="../css/style_index.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="px-4 pt-5 my-5 text-center">
    <h1 class="display-4 fw-bold text-body-emphasis">
        Это страница с инфой о нас
    </h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Добро пожаловать на наш сайт — место, где ваши мечты о книге оживают! <br/>
            Мы — команда увлечённых профессионалов, объединивших свои усилия, чтобы создать уникальную платформу,
            позволяющую вам создавать удивительные истории о детях с помощью искусственного интеллекта.
        </p>
        <p class="lead mb-4">Наша миссия — вдохновить родителей и детей на совместное творчество. Мы понимаем, как важно
            сохранить воспоминания о детстве и поделиться ими с близкими. С нашей помощью вы можете превратить любимые
            фотографии вашего ребёнка в увлекательные истории, наполненные волшебством и приключениями.
        </p>
        <h2 class="fw-normal">Как это работает?</h2>
        <p class="lead mb-4">С помощью нашего интуитивно понятного интерфейса вы можете загрузить фотографии вашего
            ребёнка, выбрать жанр и стиль повествования. Искусственный интеллект создаст уникальную историю, основанную
            на ваших предпочтениях и изображениях. Вы сможете редактировать текст, добавлять свои идеи и вносить
            изменения, чтобы сделать книгу по-настоящему вашей.</p>
        <h2 class="fw-normal">Почему выбирают нас?</h2>
        <ul class="lead mb-4">
            <li>Индивидуальный подход: Каждая история создаётся с учётом ваших пожеланий и особенностей вашего
                ребёнка.
            </li>
            <li>Лёгкость в использовании: Наша платформа проста и доступна для пользователей всех возрастов.</li>
            <li>Качественные иллюстрации: Мы предлагаем красивые изображения, которые дополнят вашу историю и сделают её
                ещё более привлекательной.
            </li>
            <li>Сохранение воспоминаний: Создайте уникальный подарок для своего ребёнка или семейный альбом, который
                будет передаваться из поколения в поколение.
            </li>
        </ul>
        <p class="lead mb-4">Присоединяйтесь к нам в этом удивительном путешествии, где технологии встречаются с
            творчеством. Давайте вместе создадим волшебные книги, которые будут радовать вас и ваших близких!</p>
    </div>
</div>
{% endblock %}